
.note-container {
    margin: 15px 20px 15px 0;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
}

.note {
  font: 20px cursive; 
  line-height: 1.5;
  padding: 25px 25px 40px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s ease;
  max-width: 520px; 
  height: 15.625rem;
}

.note-img {
  max-width: 400px;
  object-fit: cover;
}

.note-list {

}
