.note-preview {
  display: inline-block;
}

.note-container {
    margin: 15px 20px 15px 0;
}

.note-list {
  columns: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: 20px cursive; 
  line-height: 1.5;
  padding: 25px 25px 15px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s ease;
  width: 300px; 
  min-height: 330px;

}

.note:hover {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149)
}

.note-text {
  min-height: 15.625rem;
  /* width: 230px; */
}

.note-img {
  /* max-width: 400px; */
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.note-img img {
  border-radius: 3px;
}

.note-container textarea {
  border: none;
  font: 20px cursive;
  background: transparent;
}


.note-todos .todos-container li:last-of-type{
  margin-bottom: 10px;
}

.todos-container li {
  max-height: min-content;
}

.note-video {
  padding-bottom: 10px;
}

.note-video iframe {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  border: none;
}

.note-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.note-actions > * {
  cursor: pointer;
  
}

.actions-container {
  max-height: 30px;
}

.actions-container i:hover {
  transform: scale(1.1);
}


.color-palette {
  position: relative;
  top: 20px;
  border: none;
  border-radius: 3px;
  justify-content: space-around;
  background-color: white;
  padding: 5px;
}

.color-circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.color-palette .yellow {
  background: linear-gradient(#F9EFAF, #F7E98D);
}
.color-palette .purple {
  background: #D7AEFB;
}
.color-palette .green {
  background: #CAF4B9;
}
.color-palette .blue {
  background: #b9dcf4
}
.color-palette .red {
  background: #FFBDA3;
}

.pinned-notes-container h3 {
  text-align: center;
}

.pinned-note-list {
  width: 85%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-container i {
  position: relative;
  left: -10px;
  opacity: 0.57;
  cursor: pointer;
  transition: all .2s;
}

.todo-container i:hover {
  opacity: 1;
}