.note-preview {
  display: inline-block;
}

.note-container {
    margin: 15px 20px 15px 0;
}

.note-list {
  columns: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: 20px cursive; 
  line-height: 1.5;
  padding: 25px 25px 15px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s ease;
  width: 300px; 
  min-height: 330px;
}

.note-text {
  min-height: 15.625rem;
  /* width: 230px; */
}

.note-img {
  /* max-width: 400px; */
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.note-img img {
  border-radius: 3px;
}

.note-container textarea {
  border: none;
  font: 20px cursive;
  background: transparent;
}

.note-todos {
  /* width: 230px; */
}

.note-todos li {
  list-style: inside;
}

.note-todos .todos-container li:last-of-type{
  margin-bottom: 10px;
}

.note-video {
  padding-bottom: 10px;
}

.note-video iframe {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
}

.note-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.note-actions > * {
  cursor: pointer;
  
}