/* HELPERS */

.flex {
    display: flex;
}
<<<<<<< HEAD
.align-center {
    align-items: center;
}
=======

.flex-center {
    justify-content: center;
    align-items: center;
}

>>>>>>> 255c3bab271df8e521c411220cc5f5955c1b3e27
.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.grid {
    display: grid;
}

.center {
    margin: 0 auto;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-column {
    flex-direction: column;
}


.display-none {
    display: none;
}
.transition02{
    transition: all .2s
}