.about-page {
    text-align: center;
    width: 50%;
    margin: 30px auto 0 auto;
}

.about-page h2 {
    margin-bottom: 15px;
    font-size: 30px;
}

.about-page .team-member {
    margin-bottom: 20px;
}

.about-page .team-member .member-info {
margin-bottom: 10px;
}

.about-page .team-member h4 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
}

.about-page .team-member img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
}

.about-page .member-info p {
    line-height: 1.5;
}