.menu-tab-parent {
    position: relative;
    float: right;
    border-radius: 999px;

}

.menu-tab {
    float: right;
    width: 4.2em;
    padding: 1.2em 0.85em 1.15em 1.34em;
}


.menu-tab-parent:hover {
    background-color: #eee;

}

.menu-icon {
    width: 25px;

    transition: all .2s;

}

.menu-icon g {
    fill: #939394;
}

/* DROPDOWN */
.menu-tab-parent:hover .dropdown-grid {
    visibility: visible;
    opacity: 1;
}
.menu-tab-parent .dropdown-grid {
    position: absolute;
    background-color: #eee;
    top: 68px;
    right:20px;
    left: -100px;
    opacity: 0;
    visibility:hidden;

    transition: all .2s;
}