.menu-tab-parent {
    position: relative;
    float: right;
    border-radius: 999px;

}

.menu-tab {
    float: right;
    width: 4.2em;
    padding: 1.2em 0.85em 1.15em 1.34em;
}


.menu-tab-parent:hover {
    background-color: #eee;

}

.menu-icon {
    width: 25px;

    transition: all .2s;

}

.menu-icon g {
    fill: #939394;
}