.main-header {
    justify-content: space-between;
   align-items: center;
}

.header-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #202124;
    z-index: 100000;
}

.header-container a {
    color: whitesmoke;
}

.logo a{
    font-size: 38px;
    letter-spacing: 3.8px;
}

