.email-filter {
    margin-bottom: 20px;
    padding: 3px;
    color: white;
}

.email-filter .dropdown-container {
    position: relative;
}

.email-filter .filter-dropdown {
    position: absolute;
    background-color: rgb(206, 219, 206);
    user-select: none;
    background-color: #448AFF;
    user-select: none;
    color: inherit;
    /* box-shadow: -2px 0px 7px #9a8f8f; */
    box-shadow: -2px 0px 7px #2f2e2e;
    border-radius: 10px;
}

.email-filter .filter-dropdown li {
    width: 200px;
    /* margin-bottom: 15px; */
    cursor: pointer;
    padding: 15px 10px;
    /* border-bottom: 1px solid #BDBDBD; */
}

.email-filter .filter-dropdown li:hover {
    background-color: #03A9F4;
}

.email-filter .filter-dropdown li:first-child {
    border-radius: 10px 10px 0 0;
}

.email-filter .filter-dropdown li:last-child {
    border-radius: 0 0 10px 10px;
}

.email-filter .dropdown-icon {
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    /* color: rgb(122, 117, 117); */
    color: inherit;
    margin-inline-end: 10px;
    transition: all .2s;
}

.email-filter .dropdown-icon:hover {
    border-radius: 999px;
    background-color: #d3c9c9;
}

.email-filter .search {
    border-radius: 5px;
    /* padding-inline-start: 10px; */
    padding: 10px 10px;
    background-color: #525355;
    border: none;
    width: 280px;
    max-width: 180px;
    transition: max-width .8s, background-color .3s;
}

.email-filter .search:focus {
    max-width: 280px;
    background-color: rgba(255, 255, 255, 0.404);
    padding: 8px 10px;
    border: 2px solid #dad8d8;
}

.email-filter .search::placeholder {
    color: white;
}

.email-filter .search:focus::placeholder {
    color: #212121;
}
