.email-list-container {
    color: inherit;
    flex-grow: 1;
}

.email-list {

}

.email-list .email-preview {
    /* border-radius: 10px; */
    /* background-color: #B3E5FC; */
    /* background-color: #3e525c; */
}

.email-list .filter-bar {
    align-items: center;
    padding-top: 8px;

}

.email-list .email-preview.read {
    background-color: inherit;
    font-family: roboto;
}


@media (max-width: 1286px) {
    .email-list-container {
        max-width: 950px;
    }
}


@media (max-width: 758px) {
     .filter-bar{
        margin-inline-start: 40px;
    }
}
