@import './cmps/EmailApp.css';
@import './cmps/EmailDetails.css';
@import './cmps/Aside.css';
@import './cmps/EmailCompose.css';
@import './cmps/EmailFilter.css';
@import './cmps/EmailList.css';
@import './cmps/EmailPreview.css';
@import './cmps/EmailStatus.css';
@import './cmps/MarkedEmails.css';

.email-app, input, button, a {
    font-family: roboto;
}
body {
    background-color: #202124;
 
}

.email-app,.email-details{
    /* width: 100%; */
    /* width: 100vw; */
    padding-top: 20px;
    height: 100vh;
    background-color: #202124;
    color: white;

}

*.email-app, *.email-details {
    color: white;
}

i {
    transition: all .15s;
}

/* .email-app {
    padding: 20px;
} */

/* ANIMATIONS */

@keyframes show-modal {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}

@keyframes hide-modal {
    from {
        bottom: 0;
    }
    to {
        bottom: -100%;
    }
}