@import './cmps/EmailApp.css';
@import './cmps/EmailCompose.css';
@import './cmps/EmailFilter.css';
@import './cmps/EmailList.css';
@import './cmps/EmailStatus.css';
.email-app, input, button, a {
    font-family: roboto;
}

.email-app {
    padding: 20px;
}

/* ANIMATIONS */

@keyframes show-modal {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}

@keyframes hide-modal {
    from {
        bottom: 0;
    }
    to {
        bottom: -100%;
    }
}